#ignore all kind of files
*
!*/
#except files with extension
!*.py
!*.yaml
!*.yml
!*.kv
!*.js
!*.html
!*.sh
!*.in
!*.md

#except gitignore
!*.gitignore

#except docs folder and subfolders
!docs/scipy-sphinx-theme/_static/*
!docs/scipy-sphinx-theme/_theme/scipy/static/*
!docs/source/*
!docs/make.bat
!docs/Makefile
!docs/source/_static
!idtrackerai/gui/*.png
