[submodule "idtrackerai-gui"]
	path = idtrackerai-gui
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/idtrackerai-gui.git
[submodule "python-video-annotator"]
	path = python-video-annotator
	url = https://github.com/UmSenhorQualquer/pythonVideoAnnotator.git
[submodule "idtrackerai-gui-kivy"]
	path = idtrackerai-gui-kivy
	url = https://gitlab.com/polavieja_lab/idtrackerai-gui-kivy.git
