#ignore all kind of files
*
*.pyc
*.log
!*/
#except files with extension
!*.py
!*.yaml
!*.yml
!*.kv
!*.js
!*.html
!*.sh
!*.in
!*.md
!*.png
!*.css
!*.gif
!*.less
!*.css_t
!*.conf
#!*.txt
!*.json

*.pyc

#except gitignore
!*.gitignore

#except docs folder and subfolders
docs/build/*
!docs/scipy-sphinx-theme/*
!docs/source/*
!docs/make.bat
!docs/Makefile
!docs/source/_static/*

# expect images for documentation
!idtrackerai/gui/*.png

# ignore idtrackerai unnecessary byproduct files
idtrackerai/utils/test_.json
tests/smoke_tests/test_*/session_*


#ignore idtrackerAI and videos folder because they have .png files
videos
docs/sphinx-contrib

__pycache__

idtrackerai\.egg-info/

\.idea/

docs/build/

./local_settings.py
!tests/smoke_tests/tests_params/test_*/local_settings.py

dist/*
build/*
.eggs/*

idtrackerai/data/*/session_*
!*conflict3and4_20120316T155032_13_compressed.avi
!*conflict3and4_20120316T155032_14_compressed.avi

out-parameters\.txt

docs/idtrackerai-app\.log

.pytest_cache

\.vscode/
