#ignore all kind of files
*
!*/
#except python files
!*.py
!*.yaml
!*.kv
!*.js
!*.html
!*.sh

#except gitignore
!*.gitignore

#except docs folder and subfolders
!idTrackerAI/docs/scipy-sphinx-theme/*
!idTrackerAI/docs/source/*
!idTrackerAI/docs/make.bat
!idTrackerAI/docs/Makefile
!idTrackerAI/gui/*.py
!idTrackerAI/gui/*.png
